13_feedforward.py
14_cnn.py
15_transfer_learning.py
ANN.ipynb
autograd.ipynb
backpropagation.ipynb
CNN.ipynb
gradient_descent.ipynb
linear_regression-jvsc-d6804846-bc37-4c21-83a3-2da9e48d6740eb0107ab-b9f8-4cee-9945-081f1c1e40e0.ipynb
pipeline.ipynb
pytorch-basics.ipynb
pytorch-dataloader.ipynb
test.ipynb
transform.ipynb
wine.csv
.ipynb_checkpoints/linear_regression-jvsc-d6804846-bc37-4c21-83a3-2da9e48d6740eb0107ab-b9f8-4cee-9945-081f1c1e40e0-checkpoint.ipynb
data/MNIST/raw/t10k-images-idx3-ubyte
data/MNIST/raw/t10k-images-idx3-ubyte.gz
data/MNIST/raw/t10k-labels-idx1-ubyte
data/MNIST/raw/t10k-labels-idx1-ubyte.gz
data/MNIST/raw/train-images-idx3-ubyte
data/MNIST/raw/train-images-idx3-ubyte.gz
data/MNIST/raw/train-labels-idx1-ubyte
data/MNIST/raw/train-labels-idx1-ubyte.gz
